body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 100vh;
}

#roomList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
  margin-top: 20px;
  width: 80%;
  max-width: 1200px;
}

.room-tile {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  width: 200px;
  background-color: #f0f0f0;
}

.room-tile.available {
  background-color: #8fbc8f;
}

.room-tile.full {
  background-color: #f08080;
}

.room-tile.waiting {
  background-color: #ffd700;
}
